.btn {
    display: flex;
    text-decoration: none;
    color: #021D45;
    font-size: 22px;
    line-height: 20px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    background-color: #FEC914;
    padding: 10px 35px;
    border-radius: 100px;
    border: 1px solid #fff;
    .right-arrow{
        width: 35px;
        height: 35px;
        background-color: #021D45;
        display:flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        border-radius: 100%;
        border: 1px solid #fff;
        position: relative;
        &::after {
            content: "";
            width: 25px;
            height: 25px;
            display: flex;
            background: url(/images/right-arw.svg) no-repeat;
        }
    }
    @media screen and (max-width:1024px) {
        padding: 10px 20px;
        font-size: 20px;
    }
    &.btn-blue {
        background-color: #41B9D5;
        .right-arrow{
            background-color: #021D45;
            &::after {
                background: url(/images/blue-right-arrow.svg) no-repeat;
                width: 16px;
                height: 16px;
            }
        }
    }
    &.btn-pink {
        color: #F0E7D2;
        background-color: #E83D62;
        .right-arrow {
            background-color: #F0E7D2;
            &::after {
             background: url(/images/dark-blue-arrow.svg) no-repeat;    
             width: 16px;
             height: 16px;
            }
        }
    }
    &.disable{
        background: #A3B2C2;
    }
}

.btn-block {
    display: flex;
    justify-content: center;
}

.btn-red {
    display: flex;
    min-width: 140px;
    background-color: #E83D62;
    margin-left: 22px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    color: #fff;
    &.disabled{
        background: #A3B2C2;
    }
}