body {
    font-family: 'Inter';
    font-style: normal;
}

h1 {
    font-size: 44px;
    font-weight: 700;
    line-height: 55px;
    color: #fff;
}

h2 {
    font-size: 36px;
    line-height: 45px;
    color:#F0E7D2;
    @media screen and (max-width:991px) {
        font-size: 28px !important;
        line-height: 36px;
    }
    @media screen and (max-width:768px) {
        font-size: 20px !important;
        line-height: 26px !important;
        
    }
}

h3 {
    
}

p{
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    @media screen and (max-width:768px) {
        font-size: 14px;
        line-height: 18px;
    }
}