body {
font-family: 'Inter';
font-style: normal;
}

h1 {
    font-size: 44px;
    font-weight: 700;
    line-height: 55px;
    color: #fff;
}

h2 {
    font-size: 36px;
    line-height: 45px;
    color:#F0E7D2;
}

h3 {

}

p{
    font-size: 18px;
    line-height: 22px;
    color: #fff;
}