body {

}

h1 {
    font-size: 44px;
    font-weight: 700;
    line-height: 55px;
    font-family: 'Inter',sans-serif;
    color: #fff;
}

h2 {
    font-size: 36px;
    line-height: 45px;
    font-family: 'Inter',sans-serif;
}

h3 {

}