.card{
    border-radius: 10px;
    overflow: hidden;
    &.blue-bg{
        background: #0F3061;
    }
    .card-head{
        padding: 8px 16px;
        background: #1C4685;
        justify-content: space-between;
    }
    .card-body{
        padding: 20px 16px;
        background: #DBF4F2; 
        height: 205px;
    }
    .bg-blue {
        background: #EFF5FA !important;
    }
}

.round-box{
    // background: #41B9D5;
    padding: 20px 70px 20px 0px;
    display: inline-flex;
    // max-width: 450px;
    // border-radius: 0 10px 10px 0; 
    // margin-left: -95px;
    strong{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 26px;
        color: #021D45;
        //margin-top: 5px;
    }
}

.data-table{
    .row{
        margin: 0 0 13px 0;
    }
    .col-lg-3, .col-lg-6{
        padding: 0 0 0 0;
    }
    .data-name{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        color: #166780; 
        padding-right: 5px;
    }
    .pad {
        margin-right: 6px;
        padding-right: 0px;
    }
    .progress{
        width: 100%;
        height: 17px;
        position: relative;
        box-shadow: none;
        padding-left: 5px;
        padding-right: 5px;
        .progress-bar{
            position: absolute;
            height: 100%;
            border-radius: 10px;
            transition: all 0.5s;
            &.red{
                background: #E83D62;
            }
            &.yellow{
                background: #FEC914;
            }
            &.orange{
                background: #FC7D00;
            }
            &.sky-blue{
                background: #41B9D5;
            }
        }
    }  
    .data-value{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        text-align: right;
        color: #021D45;
        padding-right: 5px;
    }
}

.tp-count{
    h4{
        font-family: Inter;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: left;
        margin-bottom: 10px;
        color: #191C32;
    }
    span{
        font-family: Inter;
        font-size: 13px;
        font-weight: 600;
        line-height: 16px;
        letter-spacing: 0px;
        text-align: left;
        display: inline-block;
        color: #41B9D5;
    }
}

.lb-card{
    background: #1C4685;
    border-radius: 10px;
    overflow: hidden;
    .card-head{
        background: #41B9D5;
        border-radius: 10px 10px 0px 0px;
        padding: 16px 16px;
        h4{
            color: #021D45;
        }
    }
    .card-body{
        padding: 13px 16px;
    }
}

.card-info {
    justify-content: space-between;  
    padding: 20px 0px 25px;
    .square-bar {
        width: 60%;
        .pre {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 6px;
            line-height: 20px;
            color: #166780;
            min-width: 20px;
        }
        .pad {
            margin-right: 0px;
            padding-right: 0px;
        }
        .number-text {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 9px;
            line-height: 20px;
            color: #166780;
        }
        .progress{
            width: 100%;
            height: 30px;
            position: relative;
            box-shadow: none;
            .progress-bar{
                position: absolute;
                height: 100%;
                transition: all 0.5s;
                &.sky-blue{
                    background: #41B9D5;
                }
                &.red{
                    background: #E83D62;
                }
                &.yellow{
                    background: #FEC914;
                }
                &.orange{
                    background: #FC7D00;
                }
            }
            .blue-box {
                position: absolute;
                height: 100%;
                transition: all 0.5s;
                &.sky-blue{
                    background: #41B9D5;
                }
            }
            .orange-box {
                position: absolute;
                height: 100%;
                transition: all 0.5s;
                &.orange{
                    background: #FEC914;
                }
            }
            .red-box {
                position: absolute;
                height: 100%;
                transition: all 0.5s;
                &.red{
                    background: #E83D62;
                }
            }
            .box-text {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 9px;
                line-height: 20px;
                color: #021D45;
                text-align: center;
                padding: 5px;
            }
        }
        .health-score-bar {
            display: flex;
            padding-bottom: 5px;
            .progress-squar {
                width: 100%;
                display: flex;
            }
        }
    }
    .blue-bar {
        width: 50%;
        .pre {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 6px;
            line-height: 20px;
            color: #166780;
            min-width: 20px;
        }
        .number-text {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 9px;
            line-height: 20px;
            color: #166780;
        }
        .progress{
            width: 100%;
            height: 20px;
            position: relative;
            box-shadow: none;
            .progress-bar{
                position: absolute;
                height: 100%;
                transition: all 0.5s;
                &.sky-blue{
                    background: #41B9D5;
                }
                &.red{
                    background: #E83D62;
                }
                &.yellow{
                    background: #FEC914;
                }
                &.orange{
                    background: #FC7D00;
                }
            }
            .blue-box {
                position: absolute;
                height: 100%;
                transition: all 0.5s;
                &.sky-blue{
                    background: #41B9D5;
                }
            }
            .orange-box {
                position: absolute;
                height: 100%;
                transition: all 0.5s;
                &.orange{
                    background: #FEC914;
                }
            }
            .red-box {
                position: absolute;
                height: 100%;
                transition: all 0.5s;
                &.red{
                    background: #E83D62;
                }
            }
            .box-text {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 9px;
                line-height: 20px;
                color: #021D45;
                text-align: center;
                padding: 5px;
            }
        }

    }
    .joined-membar {
        .participants-number {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #191C32;  
        }
        .participants-text {
            color: #41B9D5;;
        }
    }
}
.card-footer {
    .bullet-list {
        display: flex;
        justify-content: space-between;
    }
}
.improvement {
    .improvement-score {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        color: #166780;
    }
    .improvement-text {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 600;
        font-size: 8px;
        line-height: 11px;
        color: #166780;        
    }
}
