.about-us-banner {
    background-color:  rgba($color:#0f3052, $alpha: 1.0);
    .banner-pad {
        padding: 40px 0;
    }
    h2 {
        margin-bottom: 20px;
        @media screen and (max-width:1024px) {
            font-size: 26px;
            line-height: 34px;
        }
    }
    .metamorphosis-logo{
        text-align: center;
        background-color: rgba($color:#0f3052, $alpha: 0.9);
        margin-top: 30px;
    }
    .banner-image {
        display: flex;
        justify-content: end;
        position: relative;
        &::after{
            content: "";
            background: url(/images/banner-pattern.png) no-repeat;
            width: 100px;
            height: 100px;
        }
    }
}

.join-challenge-sec{
    color: #021D45;
    background-color: #41B9D5;
    height: 320px;
    padding: 40px 0;
    position: relative;
    @media screen and (max-width:1024px) {
        height: initial;
    }
    .challenge-title{
        display: flex;
        align-items: center;
        h2 {
            color: #021D45;
            @media screen and (max-width:1024px) {
                margin-bottom: 20px;
                font-size: 26px;
                line-height: normal;
            }
        }
       
    }
    .challenge-detail{
        position: relative;
        z-index: 2;
        padding: 40px 0 40px 65px;
        @media screen and (max-width:1024px) {
            padding: 0;
            .blue-text {
                color: #fff;
            }
        }
        p {
            font-size: 24px;
            font-weight: 700;
            color: #021D45;
            line-height: 30px;
            &:first-child {
                margin-bottom: 10px;
            }
            &.blue-text {
                color: #41B9D5;
            }
            @media screen and (max-width:1024px) {
                font-size: 18px;
                font-weight: 500;
                line-height: normal;

            }
        }
    }
    
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        background-color: #DBF4F2;
        border-radius: 150px 0 0 150px;
        width: 792px;
        height: 100%;
        z-index: 0;
        @media screen and (max-width:1024px) {
            display: none;
        }
    }
}


.about-us-find-more-sec {
    height: 550px;
    background: url(/images/about-us-trans.png) no-repeat rgba($color:#0f3052, $alpha: 1.0);
    background-size: cover;
    padding-top: 120px;
    @media screen and (max-width:1024px) {
        height: initial;
        padding: 40px 0;
    }
    .find-more-sec-block{
        display: flex;
        align-content: center;
        text-align: center;
        flex-direction: column;
        .find-more-sec-title {
            margin-bottom: 20px;
            h2 {
                margin-bottom: 10px;
                @media screen and (max-width:1024px) {
                    font-size: 26px;
                    line-height: normal;
                }
            }
            p{
                font-size: 22px;
            }
        }

        .btn-block {
            margin-bottom: 20px;
        }
        .find-more-link{
            border-bottom: 1px solid;
            font-size: 22px;

        }
    }
}