.about-us-banner {
    background-color:  rgba($color:#021D45, $alpha: 1.0);
    .banner-pad {
        padding: 80px 0;
        
    }
    .row {
        margin-bottom: 40px;
        @media screen and (max-width:991px) {
            margin-bottom: 0px;
        }
    }
    h2 {
        margin-bottom: 20px;
        @media screen and (max-width:1024px) {
            font-size: 26px;
            line-height: 34px;
        }
    }
    p {
        @media screen and (max-width:991px) {
            font-size: 16px;
            line-height: 20px;
        }
    }
    .metamorphosis-logo{
        text-align: center;
        // background-color: rgba($color:#0f3052, $alpha: 0.9);
        margin-top: 30px;
    }
    .pr-sm-0 {
        padding-right: 0px;
    }
    .banner-image {
        display: flex;
        justify-content: end;
        position: relative;
        &::after{
            content: "";
            background: url(/images/banner-pattern.png) no-repeat;
            width: 100px;
            height: 100px;
            @media screen and (max-width:991px) {
                display: none;
            }
        }
        @media screen and (max-width:768px) {
            margin-top: 30px;
            margin-left: 60px;
        }
        .desk-view {

            @media screen  and (max-width:768px){
                display: none;
            }
            
        }
        .mob-view {
            display: none;
            @media screen and (max-width:768px) {
                display: block;
            }
        }
    }
}

.join-challenge-sec{
    color: #021D45;
    overflow: hidden;
    background-color: #41B9D5;
    // height: 320px;
    // padding: 40px 0;
    // position: relative;12
   
    @media screen and (max-width:1024px) {
        height: initial;
    }
    .challenge-title{
        display: flex;
        align-items: center;
        h2 {
            color: #021D45;
            @media screen and (max-width:1024px) {
                margin-bottom: 20px;
                font-size: 26px;
                line-height: normal;
            }
        }
       
    }
    
    .challenge-detail{
        position: relative;
        z-index: 2;
        padding: 100px 0 100px 30px;
        @media screen and (max-width:1024px) {
            padding: 0;
            .blue-text {
                color: #fff;
            }
        }
        p {
            font-size: 24px;
            font-weight: 700;
            color: #021D45;
            line-height: 30px;
            &:first-child {
                margin-bottom: 10px;
            }
            &.blue-text {
                color: #41B9D5;
            }
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: -100%;
            background-color: #DBF4F2;
            border-radius: 200px 0 0 200px;
            width: 1300px;
            height: 100%;
            z-index: -1;
            // @media screen and (max-width:1400px) {
            // width: 1170px;
            // }
            @media screen and (max-width:1024px) {
                display: none;
            }
        }
    }
    
    
}


.about-us-find-more-sec {
    height: 550px;
    background: url(/images/about-us-trans.png) no-repeat rgba($color:#0f3052, $alpha: 1.0);
    background-size: cover;
    padding-top: 120px;
    @media screen and (max-width:991px) {
        height: initial;
        background-position: center;
        padding: 40px 0;
    }
   
    .find-more-sec-block{
        display: flex;
        align-content: center;
        text-align: center;
        flex-direction: column;
        .find-more-sec-title {
            margin-bottom: 20px;
            h2 {
                margin-bottom: 10px;
                @media screen and (max-width:1024px) {
                    font-size: 26px;
                    line-height: normal;
                }
            }
            p{
                font-size: 22px;
                @media screen and (max-width:991px) {
                    font-size: 16px;
                }
            }
        }

        .btn-block {
            margin-bottom: 20px;
            a {
                font-size: 14px;
            }
        }
        .find-more-link{
            border-bottom: 1px solid;
            font-size: 22px;
            @media screen and (max-width:991px) {
                font-size: 16px;
            }
        }
    }
}