.bullet-list{
    li{
        position: relative;
        padding-left: 48px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 46px;
        letter-spacing: 0.03em;
        color: #021D45;
        &:before{
            content: '';
            position: absolute;
            display: block;
            width: 6px;
            height: 6px;
            background: #021D45;
            border-radius: 20px;
            top: 20px;
            left: 24px;
        }

        &:last-child{
            margin-bottom: 0px;
        }
        .link{
            color: #166780;
            text-decoration: underline;
        }
    }
}
