.footer {
    background-color: #1C4685;
    padding: 40px 15px 40px;
    .logo{
        margin-bottom: 40px;
        @media screen and (max-width:1024px) {
            margin-bottom: 20px;
        }
        @media screen and (max-width:768px) {
            text-align: center;
        }
    }
    .about-fitterfly {
        color: #DDDDDD;
        font-size: 14px;
        font-family: "Roboto",sans-serif;
        line-height: 24px;
        margin-bottom: 20px;
        @media screen and (max-width:1024px) {
            margin-bottom: 10px; 
        }
        @media screen and (max-width:768px) {
            text-align: center;
            margin-bottom: 25px;
        }
    }
    .social-block {
        display: flex;
        .social-icon {
            margin: 0 10px;
            width: 30px;
            &:first-child{
                margin-left: 0px;
            }
        }
        @media screen and (max-width:1024px) {
            margin-bottom: 20px;
        }
        @media screen and (max-width:768px) {
            padding: 20px 0;
            margin-bottom: 25px;
            justify-content: center;
            position: relative;
            &::before {
                width: 38%;
                content: "";
                position: absolute;
                height: 1px;
                background: #1A3D72;
                top: 0px;
                margin: auto;
                margin-right: 15px;
            }
            &::after {
                width: 38%;
                content: "";
                position: absolute;
                height: 1px;
                background: #1A3D72;
                bottom: 0px;
                margin: auto;
                margin-right: 15px;
            }
        }
    }
    .contact-details{
        h4{
            color: #fff;
            margin-bottom: 40px;
            @media screen and (max-width:1024px) {
                margin-bottom: 20px;
            }
            @media screen and (max-width:768px) {
                display: none;
            }
        }
        .contact-list{
            display: flex;
            flex-direction: column;
            .contact-item {
                line-height: 25px;
                img{
                    margin-right: 10px;
                    @media screen and (max-width:768px) {
                        width: 20px;
                    }
                }
                color: #fff;
                font-weight: 400;
                display: inline-flex;
                margin-bottom: 15px;
                &:last-child {
                    margin-bottom: 0;
                    @media screen and (max-width:768px) {
                        width: 93%;
                        text-align: center;
                        align-items: self-start;
                        margin: auto;
                    }
                    img {
                        margin-top: 5px;
                    }
                }
                @media screen and (max-width:768px) {
                    font-size: 14px;
                }
            }
            @media screen and (max-width:768px) {
                flex-direction: row-reverse;
                flex-wrap: wrap;
                justify-content: space-between;
            }
            
        }
        
    }
   
}