label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #696F79;
    padding-bottom: 15px;
}

input[type="text"], input[type="password"], input[type="number"], input[type="email"], select, textarea, input[type="date"], input[type="time"],input[type="file"],input[type="search"] {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.3px;
    padding: 15px 25px;
    height: 64px;
    color: #000000;
    background: #EFF5FA;
    border: 1px solid #8692A6;
    border-radius: 6px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    width: 100%;
    -webkit-appearance: none;
      appearance: none;  
    &:hover{
      -webkit-appearance: none;
      appearance: none;
    }
    &:placeholder {
      font-family: 'Inter';
      font-weight: 400;
      font-size: 16px;
      font-style: normal;
      line-height: 19px;
      color: #708092;
      letter-spacing: -0.2px;
    }
    
    &:-webkit-input-placeholder { /* Internet Explorer 10-11 */
      font-family: 'Inter';
      font-weight: 400;
      font-size: 16px;
      font-style: normal;
      line-height: 19px;
      color: #708092;
      letter-spacing: -0.2px; 
    }

    &:-ms-input-placeholder { /* Microsoft Edge */
      font-family: 'Inter';
      font-weight: 400;
      font-size: 16px;
      font-style: normal;
      line-height: 19px;
      color: #708092;
      letter-spacing: -0.2px; 
    }
    
    &:-moz-placeholder { /* Microsoft Edge */
      font-family: 'Inter';
      font-weight: 400;
      font-size: 16px;
      font-style: normal;
      line-height: 19px;
      color: #708092;
      letter-spacing: -0.2px; 
    }
}

input[type="date"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  line-height: 19px;
  color: #708092;
  letter-spacing: -0.2px;
}
::-moz-placeholder {
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  line-height: 19px;
  color: #708092;
  letter-spacing: -0.2px;
}
:-ms-input-placeholder {
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  line-height: 19px;
  color: #708092;
  letter-spacing: -0.2px;
}
:-moz-placeholder {
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  line-height: 19px;
  color: #708092;
  letter-spacing: -0.2px;
}

.form-group{  
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  position: relative;
  // input:checked {
  //   background-color: green;
  // }
  input {
    &.mark{
        margin-right: 5px;
        width: 20px;
      }
  }
  &.checkbox{
    flex-direction: row;
    justify-content: flex-start;
    line-height: 20px;
  }
  .err-msg {
    display: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    color: #E43A40;
    position: absolute;
    bottom: -25px;
    left: 0px;
  }
  &.error{
      input, select, area{
        border: 2px solid #E43A40;
        border-radius: 6px;
      }
    .err-msg{
      display: flex;
    }
  }
  .undrline {
    text-decoration: underline;
  }
  span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #696F79;    
  }
  .text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #021D45;
    
  }
}

.form-field-holder {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  .form-group {
    width: 100%;
    margin-right: 23px;
    margin-bottom: 30px;
    &:last-child{
      margin-right: 0px;
    }
  }
}
.back-icon {
  cursor: pointer;
  img {
    padding-bottom: 20px;
  }
}
