.header {
  // padding: 50px 0px 20px 0px;
  height: 100px;
  display: flex;
  align-items: center;
  position: fixed;
	z-index: 1000;
  width: 100%; 
	background: transparent;
	-webkit-transition: all ease-out .5s;
  -moz-transition: all ease-out .5s;
  -o-transition: all ease-out .5s;
  transition: all ease-out .5s;
  &.active {
    background-color: #021D45;
    position: fixed;
    animation: smoothScroll 1s forwards;
  }
  .container {
    @media screen and (max-width:1024px){
      padding: 0;
    }
  }
  @media screen and (max-width:1024px){
    height: 60px;
    background-color: #021D45;
    position: relative;
    padding: 0 20px;
  }
  .header-wrap {
    display: flex;
    justify-content: space-between;
    .logo {
      display: flex;
      align-items: center;
      a {
        display: block;
        img{
          display: block;
        }
      }
    }
    .nav {
      display: flex;
      justify-content: space-between;
      
      ul {
        display: flex;
        @media screen and (max-width:1024px) { 
          display: none;
        }
        li {
          cursor: pointer;
          display: flex;
          align-items: center;
          a {
            color: #A3B2C2;
            font-weight: 500;
            font-size: 18px;
            margin: 0 15px;
            display: block;
            position: relative;
            &::after {
              content: '';
              display: block;
              // margin-top: 5px;
              width: 0;
              height: 2px;
              position: absolute;
              bottom: -5px;
              background: #E83D62;
              transition: width .3s;
              @media screen and (max-width:1024px) {
                display: none;
              }
            }
          }
          @media screen and (min-width:1024px) {
            &:hover, &.active{
              a{
                color: #FBF0DC;
                &::after {
                  width: 40%;
                }
              }
            }
          }
         
          @media screen and (max-width:1024px) {
            margin: 10px 0px;
            a {
              padding: 15px 0;
              margin:0 25px;
            }
            &.active {
              justify-content: space-between;
              background: #41B9D5;
              position: relative;
              border-radius: 0px 4px 4px 0px;
              &::after {
                content: "";
                width: 5px;
                height: 48px;
                border-radius: 4px;
                background-color: #E83D62;
                display: block;
              }
              a {
                color: #021D45;
              }
            }
          }

        }
        @media screen and (max-width:1024px) {
          flex-direction: column;
          margin-bottom: 15px;
        }
      }
      @media screen and (max-width:1024px) {
        position: absolute;
        left: 0;
        top: 0;
        width: 0%;
        height: 100vh;
        padding-top: 75px;
        background-color: #111A28;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transition: all 0.25s;    
        -webkit-transition: all 0.25s;
        z-index: 9;
        &.active {
          width: 80%;
          transition: all 0.25s;    
          -webkit-transition: all 0.25s;
        }
      }
      &.active {
        display: block;
        ul {
          padding-top: 30px;
          display: block;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            background: url(/images/mob-back-top.png) no-repeat;
            width: 100%;
            height: 200px;
            top: -98px;
            left: 3px;
          }
          
        }
        &::after {
          content: "";
          position: absolute;
          background: url(/images/mob-back-bottom.svg) no-repeat;
          width: 244px;
          height: 200px;
          right: 0;
          bottom: 0;
        }
      }
      .mob-logo {
        display: none;
        margin: 0 25px;
        @media screen and (max-width:1024px) {
          display: block;
        }
        
      }
    
    }
    .nav-items {
    
      @media screen and (max-width:1024px) {
        display: flex;
        align-items: center;
      }
      
    }
    .icon-burger{ 
      display: none;
      // display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      position: unset;
      margin: unset;
      padding-left: 10px;
      width: 40px;
      height: 40px;
      cursor: pointer;

      .burger-patty {
        margin: -2px auto;
        width: 26px;
        height: 3px;
        display: block;
        position: absolute;
        top: 50%;
        right: unset;
        left: unset;
        background: #fff;
        z-index: 999;
        -webkit-transition: -webkit-transform 0.2s ease;
        -o-transition: -o-transform 0.2s ease;
        transition: transform 0.2s ease;
        &:first-child {
          transform: translateY(-8px);
        }
        &:last-child {
          transform: translateY(8px);
        }
        
      }

      &.active {
        display: none;
        .burger-patty {
          &:first-child {
            transform: rotate(45deg);
          }
          &:nth-child(2) {
            transform: scale(0);
          }
          &:last-child {
            transform: rotate(-45deg);
          }
        }
      }
      @media screen and (max-width:1024px) {
        display: flex;
      }
    }
  }
}


.header-pad-100 {
  padding-top: 100px;
  @media screen and (max-width:1024px) {
    padding-top: 0;
  }
}
@keyframes smoothScroll {
  0% {
    transform: translateY(-70px);
  }
  100% {
    transform: translateY(0px);
  }
}

.login-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #41B9D5;
  height: 33px;
  width: 63px;
  border: 1px solid #41B9D5;
  border-radius: 30px;
  cursor: pointer;
  @media screen and (max-width:1024px) {
    display: none;
  }
}
.login-mob-btn {
  display: none;
  cursor: pointer;
  @media screen and (max-width:1024px) {
    display: block;   
  }
}
.overflow-hide {
  overflow: hidden;
}