.home-banner{
    background-color: #021D45;
    min-height: 700px;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    position: relative;
    img{
        display: block;
    }
    .hbc-title{
        letter-spacing: 18px;
        font-size: 50px;
        display: flex;
        align-items: center;
        span{
            &.oring{
                margin-right: 15px;
                img{
                    display: inline-block;
                }
            }
        }
    }
    .hb-left-text{
        position: absolute;
        left: 30px;
        top: -60px;
        p{
            color: #A3B2C2;
        }
    }
    h2{
        font-size: 42px;
        color: #FEC914;
        margin-top: 20px;
    }
    .hbc-para{
        margin-top: 20px;
        font-weight: 600;
        font-size: 32px;
        line-height: 39px;
        color: #41B9D5;
    }
}

.video-sec{
    background-color: #021D45;
    padding: 90px 0px;
    position: relative;
    text-align: center;
    &::before{
        content: "";
        width: 100%;
        height: 100%;
        background-image: url(/images/videosec-background.png);
        background-position: center;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
    .vs-title{
        font-weight: 600;
        font-size: 40px;
        line-height: 50px;
    }
    .vs-thumnail{
        margin-top: 50px;
        max-width: 899px;
        max-height: 523px;
        background: #021D45;
        box-shadow: 0px 7px 17px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        margin: 50px auto auto auto;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        cursor: pointer;
        .play-btn{
            position: absolute;
        }
    }
    .vs-desc{
        font-weight: 400;
        font-size: 22px;
        line-height: 27px;
        color: #41B9D5;
        max-width: 483px;
        margin: 40px auto auto;
    }
    .btn-block{
        margin-top: 40px;
    }
}

.metabolic-health-sec {
    background-color: #41B9D5;
    padding: 120px 0px;
}

.weekly-challenge-sec{
    padding: 130px 0px 100px 0px;
    background-color: #021D45;
    text-align: center;
    .benefit-div{
        h2{
            font-size: 44px;
            color: #F0E7D2;
        }
        p{
            font-size: 30px;
            margin-top: 30px;
        }
        .benefit-main-div{
            margin-top: 100px;
            .benefit-box{
                border: 2px solid #41B9D5;
                border-radius: 24px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                overflow: hidden;
                padding: 24px;
                position: relative;
                margin-bottom: 30px;
                &.bg-offyellow{
                    background-color: #FBF0DC;
                }
                &.bg-blue{
                    background-color: #EFF5FA;
                }
                .ben-desc{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-between;
                    max-width: 140px;
                    text-align: left;
                    color: #166780;
                    .bd-mtext{
                        font-weight: 700;
                        font-size: 28px;
                    }
                    .bd-info{
                        font-weight: 600;
                        font-size: 14px;
                        letter-spacing: 1px;
                        margin-top: 5px;
                    }
                    .bd-name{
                        font-weight: 700;
                        font-size: 18px;
                        color: #41B9D5;
                        margin-top: 30px;
                    }
                }
            }
        }
        .ben-image {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
    .challenges-div{
        margin-top: 100px;
        h2{
            font-size: 48px;
            color: #F0E7D2;
        }
        p{
            font-size: 24px;
            color: #A3B2C2;
            margin-top: 20px;
            line-height: 28px;
        }
        .challenges-list{
            width: 80%;
            margin: auto;
            margin-top: 70px;
        } 
    }
    .view-more{
        a {
            padding: 30px 40px;
            background-color: #E83D62;
            border: 2px solid #F0E7D2;
            border-radius: 100px;
            display: block;
            width: fit-content;
            margin: auto;
            font-weight: 600;
            font-size: 30px;
            color: #fff;
            margin-top: 20px;
        }
    }
}

.participate-sec{
    padding: 90px 0px;
    background: #FBF0DC;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        width: 528px;
        height: 564px;
        background-image: url(/images/participate-bg.png);
        left: 0;
        background-repeat: no-repeat;
    }
    .ps-titel{
        h2{
            color: #021D45;
            font-weight: 700;
            font-size: 44px;
            letter-spacing: 1px;
            line-height: initial;
        }
    }
    .ps-points {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 420px;
        .point{
            display: flex;
            align-items: flex-start;
            font-weight: 500;
            font-size: 24px;
            color: #166780;
            line-height: initial;
            margin-top: 30px;
            &:first-child{
                margin-top: 0px;
            }
            img{
                display: block;
                margin-right: 20px;
            }
        }
    }
}

.text-yellow{
    color: #FEC914;
}

.challenge-box{
    background: #DBF4F2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 80px 80px 80px 200px;
    text-align: left;
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
    img.cb-img {
        position: absolute;
        left: 0;
        top: 35px;
    }
    .cb-date{
        font-weight: 700;
        font-size: 20px;
        color: #166780;
    }
    .cb-title{
        font-weight: 700;
        font-size: 24px;
        color: #021D45; 
        margin-top: 30px;
    }
    .cb-desc{
        font-weight: 500;
        font-size: 16px;
        color: #708092;
        margin-top: 10px;
    }
    .nutrision{
        position: absolute;
        font-weight: 500;
        font-size: 12px;
        color: #708092;
        top: 20px;
        right: 20px;
    }
}