.form-sec{
    margin-bottom: 96px;
    @media screen and (max-width:991px) {
        margin-bottom: 0px;
    }
}

.form-banner{
    @extend .flex-center;
    background: url('/images/form-texture.svg') no-repeat top 60% left;
    background-color: #0F3061;
    padding-top: 100px;
    padding-bottom: 100px;
    @media screen  and (max-width:991px){
         display: none;
    }
}

.login-tabs {
    display: flex;
    margin-top: 50px;
    position: relative;
    li {
        // padding: 0 10px;
        font-size: 25px;
        line-height: 35px;
        font-weight: 400;
        position: relative;
        font-family: 'Inter',sans-serif;
        @media screen and (max-width:991px) {
            font-size: 18px;
            line-height: 22px;
        }
        a{
            color: #A3B2C2;
        }
        &:last-child{
            margin-left: 20px;
        }
        &::after {
            content: '';
            display: block;
            // margin-top: 5px;
            width: 0;
            height: 2px;
            position: absolute;
            bottom: -5px;
            background: #E83D62;
            transition: width .3s;
            z-index: 99;
            @media screen and (max-width:1024px) {
              
            }
          }
          &.active {
            a{
                color: #FBF0DC;
            }
            &::after {
                width: 100%;
            }
          }
        //   &:hover, &.active{
        //     a{
        //         color: #FBF0DC;
        //     }
        //     &::after {
        //         width: 100%;
        //     }

        //   }
    }
    &::after {
        content: "";
        width: 417px;
        height: 1px;
        background: #ff000042;
        display: block;
        position: absolute;
        bottom: -5px;
    }
}

.login-form{
    padding: 30px 50px; 
    background: #EFF5FA;
    height: 100%;
    @media screen and (max-width:991px) {
        padding:  25px;
    }
    &.participant {
        @media screen and (max-width:991px) {
            
        }
    }
    .form-main{
        h2{
            color: #021D45;
            margin-bottom: 16px;
        }
        p{
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.02em;
            color: #166780;
            padding-bottom: 24px;
        }
        .divider{
            width: 80%;
            border: 1px solid #41B9D5;
        }
        .form-group{
            margin-bottom: 40px;
        }
        .btn-pink{
            height: 64px;
            width: 100%;
            border-radius: 6px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #EFF5FA;
            &.disabled{
                background: #A3B2C2;
            }
            @media screen and (max-width:991px) {
                height: 50px !important;
                font-size: 20px !important;
            }
        }
        .form-container {
            padding: 50px 0;
        }
        .corporate-form {
            padding: 50px 0;
        }
    }
    .otp-info{
        color: #708092;
        font-size: 13px;
        font-weight: 500;
        line-height: 20px;
        max-width: 300px;
        margin-top: 8px;
    }
    .resend-otp-text {
        margin-top: 8px;
        color: #708092;
        font-size: 13px;
        font-weight: 500;
        line-height: 20px;
        a{
            color:#166780;
            margin-left: 10px;
            border-bottom: 1px solid #166780;
            @media screen and (max-width:991px) {
                margin-top: 10px;
            }
        }
        @media screen and (max-width:991px) {
            flex-direction: column;
            margin-top: 20px;
        }

    }
    .otp-boxes {
        display: flex;
        justify-content: start;
        align-items: center;
        input {
            width:44px;
            height: 64px;
            border:2px solid #8692A6;
            margin-right: 10px;
            border-radius: 6px;
            padding: 0px;
            text-align: center;
            @media screen and (max-width:991px) {
                width: 50px;
                height: 70px;
                border: 1px solid #8692A6;
            }
        }
        &.error {
            input {
                border: 2px solid red;
            }
        }
    }
}
#otp-btn.desk {
    @media screen and (max-width:991px) {
        display: none;
    }
}

.resend-otp-mob {
    padding-top: 2px;text-align: center;
    color: #166780;
    margin-left: 10px;
    border-bottom: 1px solid #166780;
    // display: none !important;
    @media screen and(max-width:991px) {
    }
}
.mob-otp-time {
    display: none;
    @media screen and (max-width:991px) {
        display: block;     
        color: #708092;
        font-size: 13px;
        font-weight: 500;
        line-height: 20px;  
        margin-bottom: 5px;
    }
}
.btn-block {
    &.desk {
        @media screen and (max-width:991px) {
            display: none;
        }
    }
    &.mob {
        display: none;
        @media screen and (max-width:991px) {
            display: flex;
        }
    }
}