.form-sec{
    margin-bottom: 96px;
}

.form-banner{
    @extend .flex-center;
    background: url('/images/form-texture.svg') no-repeat top 60% left;
    background-color: #0F3061;
    padding-top: 100px;
    padding-bottom: 100px;
}

.login-tabs {
    display: flex;
    margin-top: 50px;
    li {
        // padding: 0 10px;
        font-size: 25px;
        line-height: 35px;
        font-weight: 400;
        position: relative;
        font-family: 'Inter',sans-serif;
        a{
            color: #A3B2C2;
        }
        &:last-child{
            margin-left: 20px;
        }
        &::after {
            content: '';
            display: block;
            // margin-top: 5px;
            width: 0;
            height: 2px;
            position: absolute;
            bottom: -5px;
            background: #E83D62;
            transition: width .3s;
            z-index: 99;
            @media screen and (max-width:1024px) {
              display: none;
              
            }
          }
          &.active {
            a{
                color: #FBF0DC;
            }
            &::after {
                width: 100%;
            }
          }
        //   &:hover, &.active{
        //     a{
        //         color: #FBF0DC;
        //     }
        //     &::after {
        //         width: 100%;
        //     }

        //   }
    }
}

.login-form{
    padding: 64px 56px; 
    background: #EFF5FA;
    height: 100%;
    .form-main{
        h2{
            color: #021D45;
            margin-bottom: 16px;
        }
        p{
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.02em;
            color: #166780;
            padding-bottom: 24px;
        }
        .divider{
            width: 70%;
            border: 1px solid #E83D62;
        }
        .form-group{
            margin-bottom: 40px;
        }
        .btn-pink{
            height: 64px;
            width: 100%;
            border-radius: 6px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #EFF5FA;
            &.disabled{
                background: #A3B2C2;
            }
        }
    }
}