
.right-content {
    padding: 25px 20px 20px 20px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    height: 100%;
    strong {
        display: block;
        font-weight: 500;
        margin-bottom: 30px;
    }
}

.main-content{
    margin: 20px 20px;
}
.outcome{
    position: relative;
    height: 100%;
    .reading-count{
        font-family: 'Inter';
        font-weight: 600;
        font-size: 24px;
        line-height: 26px;
        color: #1C1C1C;
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

.prog-bar-list{
    .prog-bar-item{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        &:last-child{
            
        }
        .prog-count{
            font-family: 'Inter';
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            display: flex;
            align-items: center;
            color: #1C1C1C;
            width: 60px;
        }
        .prog-bar{
            width: 100%;
            .bar{
                border-radius: 4px;
                height: 6px;
            }
        }
    }
}

.legend-list{
    @extend .flex-space-between;
    .legend-item {
        padding-left: 20px;
        .legend{
            position: relative;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            display: flex;
            align-items: center;
            &:before{
                content: '';
                position: absolute;
                width: 4px;
                height: 4px;
                border-radius: 4px;
                left: -10px;
            }
        }
        &.active{
            .legend{
                &:before{
                    background: #F62088;
                }
            }
        }
        &.onhold{
            .legend{
                &:before{
                    background: #FC7D00;
                }
            }
        }
        &.completed{
            .legend{
                &:before{
                    background: #1A9D25;
                }
            }
        }
    }
}
