.patient-page {
    .header {
        align-items: center;
    }
    .right-layout {
        .refer-btn {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 20px 50px;
            background: #1C1C1C;
            border-radius: 8px;
            height: 40px;
            color: #FFFFFF;
        }
        .custome-filter {
            display: flex;
            justify-content: center;
            align-items: center;
            .label {
                min-width: 60px;
            }
        }
        .search-box {
            min-width: 400px;
            input {
                max-width: 400px;
            }
            .search {
                background: url(/dc-dashboard/images/search.svg) no-repeat 5% center;
                padding: 5px 15px 5px 45px;
            }
        }
        .drop-down {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 20px 50px;
            border-radius: 8px;
            height: 40px;
            color: #FFFFFF;
        }
    }
    .table{
        height: calc(100% - 43px);
    }
}
.consultation-fee {
    .right-layout {
        justify-content: flex-end;
    }
    .update-sec {
        padding: 20px 25px;
        .card{
            border: 1px solid #E0E0E0;
        }
        .stats-update-cards {
            display: flex;
            .stats-card {
                width: 287px;
                margin: 15px;
                background: #EFF5FA;
                border-radius: 10px;
                padding: 16px 20px 20px 16px;
                .card-heading{
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    color: #191C32;
                    padding: 0px 0px 15px 15px;
                }
                .circle-block {
                    position: relative;
                    .white-circle {
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        background: #fff;
                        position: absolute;
                        top: 17px;
                        left: 17px;
                    }
                }
                .bullet-list{
                    li{
                        position: relative;
                        padding-left: 21px;
                        margin-bottom: 15px;
                        &:before{
                            content: '';
                            position: absolute;
                            display: block;
                            width: 8px;
                            height: 8px;
                            background: #41B9D5;
                            border-radius: 20px;
                            top:5px;
                            left:0;
                        }
                        
                        &.green{
                            &:before{
                                background: #1A9D25;
                            }
                        }
                        &.yellow{
                            &:before{
                                background: #FEC914;
                            }
                        }
                        &.red{
                            &:before{
                                background: #E83D62;
                            }
                        }
                
                        &:last-child{
                            margin-bottom: 0px;
                        }
                        .item{
                            @extend .flex-align-center;
                            span, strong{
                                font-family: 'Inter';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 14px;
                                line-height: 17px;
                                color: #EFF5FA;
                            }
                            span{
                                display: flex;
                                flex: 1;
                                text-transform: capitalize;
                                color: #0A0A0A;
                            }
                            strong{
                                font-weight: 700;
                                color: #166780;
                            }
                        }
                    }
                }
            }
        }
    }
}
.refer-sec {
    .heading {
        height: 88px;
        left: 212px;
        background: #FFFFFF;
        padding: 40px 0px 28px 32px; 
        border-bottom: 1.05415px solid rgba(0, 0, 0, 0.1);
        span {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: #0A0A0A; 
        }
    }
    .refer-page-info {
        display: flex;
    }
    
    .refer-page-table {
        padding: 24px 24px 0px 24px;
        background: #DBF4F2;
        .teble-heading {
            padding: 24px 0px 10px 0px;
        }
        .table-head {
            display: flex;
            justify-content: flex-start; 
            align-items: center;
            padding-bottom: 15px;
            .search-box {
                padding-right: 30px;
                width: 50%;
                input {
                    max-width: 391px;
                }
                .search {
                    background: url(/dc-dashboard/images/search.svg) no-repeat 5% center;
                    padding: 5px 15px 5px 45px;
                    background-color: #fff;
                }
            }
        }
        table {
            background: #FFFFFF;
        }
    }
    .refer-page-form {
        padding: 24px;
        .form-grup {
            display: flex;
            flex-direction: column;
            padding-bottom: 20px;
            label {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 20px;
                color: #1C1C1C;
                padding-bottom: 10px;
            }
            input {
                max-width: 350px;
            }
            select {
                outline: none;
                border: 1px solid #9E9E9E;
                border-radius: 8px;
                height: 40px;
                padding: 10px;
                width: 100%;
                max-width: 350px;
                background-color: #fff;
            }
            textarea {
                outline: none;
                border: 1px solid #9E9E9E;
                border-radius: 8px;
                height: 40px;
                padding: 10px;
                width: 100%;
                max-width: 350px;
                height: 328px;
                background-color: #fff;
            } 
            .patient-info {
                position: relative;
            }
            .three-button{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px;
                position: absolute;
                bottom: 85px;
                width: 87%;
                .report-btn {
                    display: flex; 
                    align-items: center;
                    .report-btn-one {
                        padding-right: 10px;
                        .Report-button {
                            background: rgba(0, 0, 0, 0.05);
                            border-radius: 4px;
                            width: 75px;
                            height: 20px;
                            padding: 0px 2px 0px 4px;
                            cursor: pointer;
                        }
                    }
                }
                .attach-file-btn {
                    background: #F5F5F5;
                    border: 1px solid #424242;
                    border-radius: 8px;
                    padding: 4px 8px;
                    height: 35px;
                    cursor: pointer;
                }
            } 
        }
        .refer-btn {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 20px 50px;
            background: #1C1C1C;
            border-radius: 8px;
            height: 40px;
            color: #FFFFFF;
            width: 350px;
        } 
    }
}

.detailed-info{
    padding: 20px 20px;
    background-color: #fff;
    .card{
        border: 1px solid #A3B2C2;
        border-radius: 15px;
        margin-bottom: 0px;
        margin-right: 0px;
    }
}

.information-table{
    
}