.home-page{

}

.wel-msg{
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #F0E7D2;
    margin: 20px 0;
}

.count-block{
    .count{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 64px;
        line-height: 80px;
        color: #5BE967;
    }
    .count-label{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: #F0E7D2;
    }
}