.home-page{
    .container-wrap{
        //background: url('./../images/tt-participant.svg') no-repeat bottom left;
    }
    .footer{
        &.lab-parameter {
            background: url(./../images/medical-report-footer.svg) no-repeat bottom left 0px;
            background-size: contain;
        }
        &.nutrion-score {
            background: url(./../images/nutrition-score-footer.svg) no-repeat bottom left 0px;
        }
        &.total-participate {
        background: url(./../images/tt-participant.svg) no-repeat bottom left -45px;
        }
        &.sleep-well {
            background: url(./../images/sleep-well-footer.svg) no-repeat  bottom left -45px ;
        }
        &.team-work {
            background: url(./../images/teamwork-footer.svg) no-repeat  bottom left -15px ;
        }
        &.metabolic-health {
            background: url(./../images/metabolic-health-score-footer.svg) no-repeat  bottom left -15px ;
        }
        &.metabolic-disease {
            background: url(./../images/metabolic-disease-footer.svg) no-repeat  bottom left -15px ;
            background-size:contain ;
        }
        &.weight {
            background: url(./../images/weight-footer.svg) no-repeat  bottom left -15px ;

        }
        padding-top: 130px;
        height: auto;
        .ff-logo{
            padding-bottom: 50px;
        }
    }
}

.wel-msg{
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #F0E7D2;
    margin: 20px 0 40px;
}

.participant-box{
    position: relative;
    z-index: 4;
    margin-bottom: 20px;
    &.weight {
        &::after{
            width: 22%;
        }
    }
    &.metabolic {
        &::after {
            width: 34%;
        }
    }
    &.sleep-well {
        &::after {
            width: 35%;
        }
    }

    &:after{
        content: '';
        position: absolute;
        top:0;
        left:0;
        z-index: -1;
        background: #41B9D5;
        //padding: 16px 70px 19px 45px;
        height: 67px;
        margin: auto;
        width: 32%;
        border-radius: 0 10px 10px 0;
    }
}

.card-name{
    color: #41B9D5;
    margin-bottom: 10px;
}
.new-joinee-sec {
    margin: 70px 0;
}
.count-block{
    .count{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 64px;
        line-height: 80px;
        color: #5BE967;
    }
    .count-label{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: #F0E7D2;
    }
}

.circle-block{
    position: relative;
    .white-circle{
        &.dark-blue-bg {
            background: #C8E7E4;
        }
        width: 98px;
        height: 98px;
        border-radius: 50%;
        background: #fff;
        position: absolute;
        top: 29px;
        left: 29px;
        @extend .flex-center;
        strong{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            color: #191C32;
        }
    }
    .dark-blue-circle {
        background: #C8E7E4;
        width: 98px;
        height: 98px;
        border-radius: 50%;
        position: absolute;
        top: 29px;
        left: 29px;
        @extend .flex-center;
    }
}


.wt-yellow {
    background: #FBF0DC !important;
}
.bullet-list {
    &.black-text{
        li{
            .item {
                span {
                    color: #021D45;
                }
                strong{
                    color: #41B9D5;
                }
            }
        }
    }
    
}

.category-tab {
    width: 27%;
    padding: 20px 20px 20px 95px;
    font-size: 25px;
    color: #41B9D5;
    font-weight: 600;
    background: #0F3061;
    margin-bottom: 40px;
    margin-top: 40px;
    border-radius: 0px 10px 10px 0;
}