.wrapper{
    width: 100%;
    height: 100%;
    background-color: $blue-col;
    //background: url('./../images/mm-bg.svg') no-repeat #021D45 right bottom;
    position: relative;
    &:before{
        content: '';
        position: absolute;
        //width: 786px;
        height: 104px;
        //background: url('/dashboard/images/round-rect.svg') no-repeat center;
        top:0;
        right:0;
        z-index: 1;
        background: #0F3061;
        border-right: 1px solid #0F3061;
        margin: auto;
        width: 56%;
        border-radius: 50px 0 0 50px;
    }
}

.container-wrap{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.header{
    @extend .flex-space-between;
    height: 104px;
    z-index: 4;
}

.content{
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    overflow-y: auto;
}

.footer{
    height: 90px;
    padding-top:10px;
}

.logo{
    @extend .flex-center;
}

.company-logo{
    @extend .flex-center;
    flex:none;
    .logo-text{
        margin-left: 10px;
        .company-name{
            display: block;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0.16px;
            color: #41B9D5;
        }
        .company-user{
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 16px;
            letter-spacing: 0.16px;
            color: #708092;
        }
    }
}

.ff-logo{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.img{
    @extend .flex-center;
    flex: none;
}