.participate-block{
    .count-block{
        margin-bottom: 30px;
        .count{
            font-size: 32px;
            line-height: 26px; 
            margin-bottom: 10px;
            sup{
                font-size: 22px;
            }
        }
        .count-label{
            font-size: 18px;
            line-height: 25px;
        }
    }
}

.card {
    &.card-participat{
        height: 100%;
        .card-head {
            background-color: #41B9D5;
            h4{
                color: #021D45;
            }
        }
        .card-body {
            height: 100%;
            background-color: #1C4685;
            .data-name{
                color: #fff;
            }
        }
        .profile-list {
            li{
                &:nth-child(3) {
                    .item {
                        border: 1px solid #FEC914;
                        .points {
                            color: #FEC914;
                        }
                        .rank {
                            color:#FEC914;
                        }
                    }

                }
            }
        }
        .rl-box{
            background: #DBF4F2;
            box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24), 0px 3px 8px -1px rgba(50, 50, 71, 0.05);
            border-radius: 16px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 10px;
            position: relative;
            @media only screen and (max-width: 991px){
                margin-bottom: 80px;
            }
            .box-top{
                background: #41B9D5;
                border-radius: 14px;
                height: 110px;
                width: 100%;
                position: relative;
                img{
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    width: 140px;
                }
            }
            .box-botm{
                text-align: left;
                margin-top: 15px;
                padding-left: 10px;
                .b-title {
                    font-size: 12px;
                    font-weight: 600;
                    display: block;
                }
                .b-desc {
                    font-size: 10px;
                    font-weight: 600;
                    color: #425466;
                }
            }
        }
        .live-tag {
            &::before {
                content: "";
                width: 8px;
                height: 8px;
                background: #1A9D25;
                border-radius: 100px;
                margin-right: 3px;
            }   
            background: #DBF4F2;
            border-radius: 15px;
            padding: 0 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            span {
                font-size: 12px;
                font-weight: 600;
                color: #166780;
            }
        }

        .app-screen {
            height: 100%;
            .row {
                height: 100%;
                .col-lg-6 {
                    // height: 100%;
                    .welness-screen {
                        position: relative;
                        img {
                            position: absolute;
                            top: 50px;
                            transform: scale(0.9);
                        }                        
                    }
                }
            }
            .app-head {
                color: #FEC914;
                font-weight: 600;
                line-height: 20px;
            }
            background: url(../images/back-participate.png) no-repeat #1C4685;
        }
        .wellness-app-img  {
            position: relative;
            height: 100%;
            &::before {
                content: "";
                width: 200px;
                height: -webkit-fill-available;
                background-image: url(../images/app-screen-participate.png);
                position: absolute;
                background-position: bottom;
                background-size: cover;
                bottom: -46px;
                background-repeat: no-repeat;
                transform: scale(0.7);
            }
        }
    }
}
.mm-journey-sec {
    padding: 80px 0;
    background: url(../images/background.jpg) no-repeat ;
    background-size: cover;
    //background-position: 0px -230px;
    background-position: 0px -170px;
    background-color: #113061;
    overflow-x: hidden;
    h2 {
        color: #F0E7D2;
        font-size: 32px;
        line-height: 38px;
        text-align: center;
        margin-bottom: 50px;
    }
    .week-sec {
        display: flex;
        position: relative;
        .heading {
            // position: absolute;
            // left: 0;
            // top: 0;
            height: fit-content;
            background: #0C274E;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 40px;
            border-radius: 100px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            width: 400px;
            h3 {
                font-size: 28px;
                line-height: 36px;
                color: #FEC914;
            }
            p {
                font-size: 24px;
                line-height: 26px;
                color:#41B9D5;
                font-weight: 500;
                margin-bottom: 0px;
            }
        }
        .path-img{
            position: relative;
            .milestone-step{
                position: absolute;
                display: flex;
                justify-content: flex-start;
                width: 100%;
                .stand{
                    position: relative;
                    background: url('../../images/stand-img.svg')no-repeat center;
                    width: 78px;
                    height: 123px;
                    display: flex;
                    justify-content: center;
                    flex: none;
                    &:before{
                        content: '';
                        position: absolute;
                        background: url('../images/tick-completed.svg')no-repeat center;
                        display: none;
                        width: 27px;
                        height: 24px;
                        top: 26px;
                    }
                }
                &.completed{
                    .stand{
                        &:before{
                            display: block;
                        }
                    }
                }
                .stand-content{
                    margin-left: 16px;
                    margin-right: 16px;
                    margin-top: 8px;
                    display: flex;
                    flex-direction: column;
                    //justify-content: center;
                    .st-img{
                        display: inline-block;
                        margin-bottom: 8px;
                    }
                    .st-text{
                        font-family: Inter;
                        font-size: 18px;
                        font-weight: 600;
                        line-height: 22px;
                        letter-spacing: 0;
                        text-align: left;
                        color: #708092;
                    }
                    &.right{
                        text-align: right;
                        .st-text{
                            text-align: right;
                        }
                    }
                }
            }
        }
        &.week-1 {
            .path-img {
                left: -70px;
                margin-top: 140px;
                .milestone-step{
                    &.active-1{
                        top: 68px;
                        left: 178px;
                    }
                }
                .milestone-step{
                    &.active-2 {
                        top: 295px;
                        left: 209px;
                    }
                }
            }
        }
        &.week-2 {
            .path-img {
                position: relative;
                top: -21px;
                .img{
                    margin-left: 114px;
                }
                .milestone-step{
                    &.active-1{
                        top: -10px;
                        left: 440px;
                    }
                }
                .milestone-step{
                    &.active-2 {
                        top: 118px;
                        left: 8px;
                    }
                }
                .milestone-step{
                    &.active-3 {
                        top: 306px;
                        left: 316px;
                    }
                }
            }
        }
        &.week-3 {
            .path-img {
                position: relative;
                top: -30px;
                left: 82px;
                .milestone-step{
                    &.active-1{
                        top: 100px;
                        left: 50px;
                    }
                }
                .milestone-step{
                    &.active-2 {
                        top: 230px;
                        left: -250px;
                    }
                }
                .milestone-step{
                    &.active-3 {
                        top: 400px;
                        left: 140px;
                    }
                }
                .milestone-step{
                    &.active-4 {
                        bottom: 115px;
                        left: -5px;
                    }
                }
            }
        }
        &.week-4 {
            .path-img {
                position: relative;
                top: -42px;
                left: 128px;
                .milestone-step{
                    &.active-1{
                        top: 102px;
                        left: 20px;
                    }
                }
                .milestone-step{
                    &.active-2 {
                        top: 200px;
                        left: -266px;
                    }
                }
                .milestone-step{
                    &.active-3 {
                        bottom: 94px;
                        left: 230px;
                    }
                }
            }
        }
        &.week-5 {
            .path-img {
                position: relative;
                left: 132px;
                top: -56px;
                .milestone-step{
                    &.active-1{
                        top: 148px;
                        left: -80px;
                    }
                }
                .milestone-step{
                    &.active-2 {
                        top: 290px;
                        left: 246px;
                    }
                }
                .milestone-step{
                    &.active-3 {
                        bottom: 410px;
                        left: 340px;
                    }
                }
                .milestone-step{
                    &.active-4{
                        bottom: 310px;
                        left: -110px;
                    }
                }
                .milestone-step{
                    &.active-5 {
                        bottom: 118px;
                        left: -220px;
                    }
                }
                .milestone-step{
                    &.active-6 {
                        bottom: 60px;
                        left: 220px;
                    }
                }
            }
        }
        &.week-6 {
            .path-img {
                position: relative;
                left: -94px;
                top: -69px;
                .milestone-step{
                    &.active-1{
                        top: 162px;
                        left: 448px;
                    }
                }
                .milestone-step{
                    &.active-2 {
                        bottom: 324px;
                        left: 42px;
                    }
                }
                .milestone-step{
                    &.active-3 {
                        bottom: 178px;
                        left: 304px;
                    }
                }
                .milestone-step{
                    &.active-4{
                        bottom: 44px;
                        left: 590px;
                    }
                }
            }
        }
    }
}